<%= @washing.user.username %>의 <%= @washing.car.car_name %>


<div class="comments">

  <% @washing_comments.each do |comment| %>
    <div class="comment" >
      <div class="commentor">
        <%= comment.commentor_name %> => 
      </div>
      <div class="comment-content">
        <%= image_tag comment.image_url if comment.image.present? %>
        <%= comment.comment %>
      </div>
    </div>
  <% end %>
</div>

<div class="comment-form">

  <%= form_for [:admin, @washing, @washing.washing_comments.new] do |f| %>
    <div class="form-group row ">
      <div class="controls col-sm-6">
        <%= f.text_field :comment, class: "form-control" %>
        <%= f.file_field :image, class: "form-control" %>
        <%= f.submit "send", class: "btn btn-warning"   %>
      </div>
    </div>
  <% end %>

</div>


